<?xml version="1.0" encoding="utf-8"?>
<!--

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings >
    <add name="CadastroPessoaDB" connectionString="Server=.\SQLEXPRESS;Database=CadastroPessoasDB;User Id=root;Password=toor;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
-->
<configuration>
  <configSections>
    <section name="hibernate-configuration"
         type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.connection_string">
        Server=.\SQLEXPRESS;Database=CadastroPessoasDB;User Id=root;Password=toor;
      </property>
      <property name="connection.isolation">ReadCommitted</property>
    </session-factory>
  </hibernate-configuration>
</configuration>
